.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  backdrop-filter: blur(8px);
  border-radius: 0px 12px 0px 0px;
  background: rgba(36, 38, 48, 0.8);
}

.btn-wrap > button {
  margin: 0 12px;
  padding: 0 20px;
  height: 40px;
  background: #be3434;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn-wrap > button:hover {
  opacity: 0.7;
}
